/* ---------- General Elements ---------- */

body {
    background-color: #181818;
}

h1, h2, h3, h4, p {
    color: rgb(230, 230, 230);
}

h1 {
    margin: 0;
    font-size: 32px;
}

h2 {
    margin: 0;
    font-size: 24px;
}

h4 {
    margin: 0;
    font-size: 16px;
}

.m-b-s {
    margin-bottom: 25px !important;
}

.m-b-m {
    margin-bottom: 50px !important;
}

.m-b-l {
    margin-bottom: 75px !important;
}

/* ---------------- Main ---------------- */

#hero {
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    height: 500px;
    padding-top: 300px;
    background-image:
    linear-gradient(to bottom, transparent, #181818),
    url('https://res.cloudinary.com/dgnio63sm/image/upload/v1675632930/hero_pzbtx2.jpg');
    background-size: cover;

    text-align: center;
}

#hero img {
    object-fit: contain;
    height: 45px;
    margin-bottom: 3px;
}

#hero h3 {
    margin: 0;
}

/* Feature Showcase */

#features {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    
    height: 100px;
    width: 95%;
}

.feature {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 33.3%;
    
    text-align: center;

    transition: all ease-in-out 0.5s;
}

.feature-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    opacity: 1;

    transition: all ease-in-out 0.5s;
}

.feature-description {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    opacity: 0;

    transition: all ease-in-out 0.5s;
}

/* Animations */

.feature:hover {
    cursor: default;
}

.feature:hover .feature-title {
    opacity: 0;
}

.feature:hover .feature-description {
    opacity: 1;
}

/* Feature Display */

#home-content .feature-display {
    display: flex;
    justify-content: space-between;

    height: 300px;
    width: 45%;
    background-color: rgba(255, 255, 255, 0.025);
}

.right {
    margin-left: 45%;
}

.left {
    margin-left: 10%;
}

.display-image {
    height: 100%;
    width: 62%;
    object-fit: cover;
    background-color: transparent;
}

.grayscale {
    filter: grayscale(1);
}

.display-info {
    height: 100%;
    width: 33%;
    background-color: transparent;
}

.display-title {
    padding: 1em 1em 0 1em;
}

.display-description {
    padding: 1em 1em 1em 1em;
}

@media screen and (max-width: 960px){
    .right, .left {
        margin-left: 0;
    }
    #home-content .feature-display {
        width: 95%;
        margin: 0 auto;
    }
}